service: animesub-addon
provider:
  name: aws
  runtime: nodejs18.x
  region: eu-west-1

functions:
  addon:
    handler: server.handler
    events:
      - http:
          path: /
          method: any
      - http:
          path: '{proxy+}'
          method: any